server/.idea/
publish_tool_avalonia/src/PublishTool/bin/
publish_tool_avalonia/src/PublishTool.Tests/bin/
publish_tool_avalonia/src/PublishTool/obj/
publish_tool_avalonia/src/PublishTool.Tests/obj/
publish_tool_avalonia/.idea/
.learnings/LEARNINGS.md
publish_tool_avalonia/.vs/

# server build artifacts
server/zap-server.exe
server/zap-server-*

# client build artifacts
client/zap-update.exe
client/test/temp_test/
client/test/*.exe
test_data/

# publish-cli build artifacts
publish/publish-cli/zap-publish.exe

# test artifacts
test_e2e/
.publish-cli/
.updator/
server/data/
server/zap-server.exe~
*~
server/configs/zap.db
server/release-server.exe
